<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLOG</title>
</head>
<body>
	<!-- CONTENEDOR PADRE PRINCIPAL BLOG -->  	
	<div class="contenedorPadre-blog">
<!-- INICIO ENCABEZADO -->		
		<header class="header_blog">
<!-- MENU PRINCIPAL -->
     <nav>
     <ul class="header__nav">
          <li><a href="../index.html">INICIO</a></li>
          <li><a href="nosotros.html">NOSOTROS</a></li>
          <li><a href="productos.html">PRODUCTOS</a></li>
          <li><a href="blog.html">BLOG</a> </li>
          <li><a href="contacto.html">CONTACTO</a></li>
    </ul>
   </nav>
<!-- FIN Menu Principal-->
<!-- INICIO TITULO PRINCIPAL BLOG-->
        <div class="titulo_principal">
 	 		<h1>BLOG</h1>
 	 	</div>
<!-- FIN Titulo Principal Blog--> 	 	
		</header>
<!-- FIN ENCABEZADO -->
<!-- INICIO CONTENIDO -->		
		<main class="main_blog">
<!-- INICIO SUBTITULO -->
        <div class="main_subtitulo">
		<h2>RECETAS</h2>
		</div>
<!-- FIN Subtitulo -->		
<!-- RECETA1-->		
		<div class="main_infor">
			<img src="../assets/img/producto14.jpg" alt="medialunas" class="main_fotomedi">
			<h3 class="titulos">MEDIALUNAS DE MANTECA</h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur error quidem, laudantium totam est consectetur laborum illum unde, eum veritatis nostrum autem provident dignissimos quos temporibus quae, corporis ex nobis.</p>
		</div>
<!-- FIN R1-->
<!-- RECETA2-->		
		<div class="main_infor">
			<img src="../assets/img/producto16.jpg" alt="pastafrola" class="main_fotopasta">
			<h3 class="titulos">PASTAFROLA</h3>
			<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Eaque repudiandae, accusantium beatae vel distinctio eos velit sequi voluptatibus quas, at nam placeat nostrum doloremque quos dicta praesentium molestias? Obcaecati, laboriosam!</p>
		</div>
<!-- FIN R2-->	
<!-- RECETA3-->			
		<div class="main_infor">
			<img src="../assets/img/producto11.jpg" alt="alfajores de maicena" class="main_fotoalfa">
			<h3 class="titulos">ALFAJORES DE MAICENA</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, ipsa! Unde, nesciunt voluptate! Maiores, tenetur blanditiis eum, enim fugit laborum quos, amet cupiditate nemo nobis temporibus accusantium! Provident, nam, animi!</p>
		</div>
<!-- FIN R3-->						
		</main>
<!-- FIN CONTENIDO -->	
<!-- INICIO FOOTER -->	
		<footer class="footer_blog">
<!-- INICIO REDES SOCIALES-->
      <div class="footer_nombreRedes">
        <h4>REDES SOCIALES</h4>
      </div>
      <div class="footer_iconos">  
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/128/000000/facebook.png">
        </a>
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/128/000000/instagram-new.png">
        </a>
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/128/000000/twitter.png">
        </a>
      </div>
<!-- FIN Redes Sociales-->			
		</footer>
<!-- FIN FOOTER -->		
	</div>
<!-- FIN CONTENEDOR PADRE PRINCIPAL BLOG -->	
</body>
</html>