<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLOG</title>
<!-- AGREGO ANIMACIONES -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!-- FIN ANIMACIONES -->     	
<!-- AGREGO TIPOGRAFIA -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
 <!-- FIN A TIPOGRAFIA-->
 <!-- LINKEO CSS-->
    <link rel="stylesheet" href="../css/estilo.css">
<!-- FIN LINKEO CSS-->    	
</head>
<body>
	<!-- CONTENEDOR PADRE PRINCIPAL BLOG -->  	
	<div class="contenedorPadre-blog">
<!-- INICIO ENCABEZADO -->		
		<header class="header_blog">
<!-- LOGO -->
    <div class="logo" data-aos="fade-down">
        <img src="../assets/img/logo.png" alt="logo">
    </div>
<!-- FIN Logo -->
    <div class="nombre_logo" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <h3>IRISH BAKERS</h3>
    </div>   			
<!-- MENU PRINCIPAL -->
     <nav>
     <ul class="header__nav" data-aos="flip-up">
          <li class="nav__list"><a href="../index.html" class="nav__list-a">INICIO</a></li>
          <li class="nav__list"><a href="nosotros.html" class="nav__list-a">NOSOTROS</a></li>
          <li class="nav__list"><a href="productos.html" class="nav__list-a">PRODUCTOS</a></li>
          <li class="nav__list"><a href="blog.html" class="nav__list-a">BLOG</a> </li>
          <li class="nav__list"><a href="contacto.html" class="nav__list-a">CONTACTO</a></li>
    </ul>
   </nav>
<!-- FIN Menu Principal-->
<!-- INICIO TITULO PRINCIPAL BLOG-->
        <div class="titulo_principal" data-aos="zoom-out">
 	 		<h1>BLOG</h1>
 	 	</div>
<!-- FIN Titulo Principal Blog--> 	 	
		</header>
<!-- FIN ENCABEZADO -->
<!-- INICIO CONTENIDO -->		
		<main class="main_blog">
<!-- INICIO SUBTITULO -->
        <div class="main_subti" data-aos="flip-up">
		<h2>RECETAS</h2>
		</div>
<!-- FIN Subtitulo -->		
<!-- RECETA1-->		
		<div class="main_infor" data-aos="fade-up">
			<img src="../assets/img/producto14.jpg" alt="medialunas" class="main_fotos">
			<h3 class="titulos">MEDIALUNAS DE MANTECA</h3>
			<p class="main_ani">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur error quidem, laudantium totam est consectetur laborum illum unde, eum veritatis nostrum autem provident dignissimos quos temporibus quae, corporis ex nobis.</p>
		</div>
<!-- FIN R1-->
<!-- RECETA2-->		
		<div class="main_infor" data-aos="fade-up">
			<img src="../assets/img/producto16.jpg" alt="pastafrola" class="main_fotos">
			<h3 class="titulos">PASTAFROLA</h3>
			<p class="main_ani">Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Eaque repudiandae, accusantium beatae vel distinctio eos velit sequi voluptatibus quas, at nam placeat nostrum doloremque quos dicta praesentium molestias? Obcaecati, laboriosam!</p>
		</div>
<!-- FIN R2-->	
<!-- RECETA3-->			
		<div class="main_infor" data-aos="fade-up">
			<img src="../assets/img/producto11.jpg" alt="alfajores de maicena" class="main_fotos">
			<h3 class="titulos">ALFAJORES DE MAICENA</h3>
			<p class="main_ani">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, ipsa! Unde, nesciunt voluptate! Maiores, tenetur blanditiis eum, enim fugit laborum quos, amet cupiditate nemo nobis temporibus accusantium! Provident, nam, animi!</p>
		</div>
<!-- FIN R3-->						
		</main>
<!-- FIN CONTENIDO -->	
<!-- INICIO FOOTER -->	
		<footer class="footer_blog" data-aos="zoom-out">
<!-- INICIO REDES SOCIALES-->
      <div class="footer_nombreRedes">
        <h4>REDES SOCIALES</h4>
      </div>
      <div class="footer_iconos">  
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/64/000000/facebook.png">
        </a>
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/>
        </a>
        <a href="" target="_blank">
         <img src="https://img.icons8.com/cute-clipart/64/000000/twitter.png"/>
        </a>
      </div>
<!-- FIN Redes Sociales-->			
		</footer>
<!-- FIN FOOTER -->		
	</div>
<!-- FIN CONTENEDOR PADRE PRINCIPAL BLOG -->
<!-- INICIALIZO ANIMACIONES -->	
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
  </script>	
<!-- FIN INICIALIZO ANIMACIONES -->	  
</body>
</html>