<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NOSOTROS</title>
  </head>
  <body>
<!-- CONTENEDOR PADRE PRINCIPAL NOSOTROS -->  	
	<div class="contenedorPadre-nosotros">
<!-- INICIO ENCABEZADO -->
		<header class="header_nosotros">
<!-- MENU PRINCIPAL -->
    <nav>
     <ul class="header__nav">
          <li><a href="../index.html">INICIO</a></li>
          <li><a href="nosotros.html">NOSOTROS</a></li>
          <li><a href="productos.html">PRODUCTOS</a></li>
          <li><a href="blog.html">BLOG</a> </li>
          <li><a href="contacto.html">CONTACTO</a></li>
    </ul>
    </nav>
<!-- FIN Menu Principal-->
		</header>
<!-- FIN ENCABEZADO -->
<!-- INICIO CONTENIDO -->        
		<main class="main_nosotros">
            
        </main>
<!-- FIN CONTENIDO -->   
<!-- INICIO FOOTER -->     
		<footer class="footer_nosotros">
<!-- INICIO REDES SOCIALES-->
      <div class="footer_nombreRedes">
        <h4>REDES SOCIALES</h4>
      </div>
      <div class="footer_iconos">  
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/128/000000/facebook.png">
        </a>
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/128/000000/instagram-new.png">
        </a>
        <a href="" target="_blank">
        <img src="https://img.icons8.com/cute-clipart/128/000000/twitter.png">
        </a>
      </div>
<!-- FIN Redes Sociales-->			
		</footer>
<!-- FIN FOOTER -->        
	</div>
<!-- FIN CONTENEDOR PADRE PRINCIPAL NOSOTROS -->	
  </body>
  </html>